<div class="filters-div">
    <mat-card>
        <mat-card-content>
            <div class="row filter-section">
                <h3>Filters</h3>
                <mat-divider></mat-divider>
            </div>
            <div flex="20" class="sidebar" layout-padding>
                <div class="row filter-section" *ngFor="let filter of filters">
                    <h4>{{filter.name}}</h4>
                    <mat-checkbox *ngFor="let option of filter.value" [(ngModel)]="option[1]" ng-checked="option[1]">{{option[0]}}</mat-checkbox>
                    <mat-divider></mat-divider>
                </div>
            </div>
            <button class="btn btn-danger btn-filter" (click)="dynamicFiltering()" role="button">Filter</button>
        </mat-card-content>
    </mat-card>
</div>