.register-div {
    margin: 34.5px 0;
    width: 100%;
}

.container {
    position: relative;
}

mat-form-field {
    display: block;
    margin-top: 3%;
}

h2 {
    text-align: center;
    width: 100%;
}

.mat-card-header-text {
    width: 100%;
}

.mat-card {
    padding: 25px;
}

mat-card-actions button {
    width: 100%;
}

.mat-raised-button {
    background-color: #dc3545 !important;
}