<div class="register-div">
    <div class="container">
        <h2>Register</h2>
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>First Name</mat-label>
                            <input matInput name="firstName" type="text" placeholder="First Name" [(ngModel)]="firstName" />
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput name="email" type="email" placeholder="Email Address" [(ngModel)]="email" />
                        </mat-form-field>
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>Choose start date</mat-label>
                            <input matInput [matDatepicker]="dobdatepicker">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matSuffix [for]="dobdatepicker"></mat-datepicker-toggle>
                            <mat-datepicker #dobdatepicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput name="lastName" type="text" placeholder="Last name" [(ngModel)]="lastName" />
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent">Register</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>