<div class="home-buttons">
    <div class="container">
        <div class="row">
            <div class="col">
                <button mat-button routerLink="/addNewAdvertisement" routerLinkActive="active" class="navbar-btn btn-danger">
                    <mat-icon aria-hidden="false" aria-label="Add Icon">add</mat-icon>
                    Add a new advertisement
                </button>
            </div>
            <div class="col">
                <button mat-button routerLink="/editAdvertisement" routerLinkActive="active" class="navbar-btn btn-edit">
                    <mat-icon aria-hidden="false" aria-label="Edit Icon">edit</mat-icon>
                    Edit an existing advertisement
                </button>
            </div>
        </div>
    </div>
</div>