<div class="container">
    <div class="menu">
        <div routerLink="/home" routerLinkActive="active-link" class="element">
            Home
        </div>
        <div>
            City picker
        </div>
        <div>
            Date picker
        </div>
        <button routerLink="/advertisements" routerLinkActive="active-link" class="element">
            Rechercher
        </button>
        <div routerLink="/login" routerLinkActive="active-link" class="element">
            Login
        </div>
        <div routerLink="/register" routerLinkActive="active-link" class="element">
            Register
        </div>
    </div>
