<mat-toolbar color="primary" class="navbar mat-elevation-z4">
    <a routerLink="/" class="header-logo-link">
        <img src="/assets/images/dauphine-rental-car-logo.png" alt="dauphine-rental-car-logo" class="header-logo">
    </a>
    <span class="header-span">DauphineCarRental</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/login" routerLinkActive="active" class="navbar-btn btn-danger">Login</button>
    <button mat-button routerLink="/register" routerLinkActive="active" class="navbar-btn btn-danger">Register</button>
    <!--<button type="submit" (click)="logout()" mat-raised-button color="primary">Logout</button>-->
</mat-toolbar>